<div class="p20">
  <%= form_for [@user, @order] do |f|%>    
    <% @address.each do |address|%>
    <div style="padding-bottom: 5px;">
      <div class="form-control">
          <%= radio_button_tag "order[address_id]", address.id%>
          <%= label_tag "order_address_#{address.id}", address.full_name%>
          <%=address.address1%>          
          <%=address.address2%>
          <%=address.postal_code%>
          <%=address.city%>
          <%=address.country%>
      </div>      
    </div>      
    <%end%>    
    <%= f.submit :confirm, class: "btn btn-success" %> 
    <%= link_to "New Address", new_user_address_path(@user), class: "btn btn-primary" %>      
  <%end%>
</div>